/pkg/
/spec/*
/tmp/
.rspec_status
.idea/
./osee2unifiedRelease*
Payload/osee2unifiedRelease.app/
spec/osee2unifiedRelease-LinkMap*.txt
spec/*.framework
spec/*.app
spec/assets/*
.vscode/
node_modules/

